.textbox {
    width: 300px;
    height: 500px;
    position: relative;
    left: 600px;
    overflow: scroll;
    top: 100px;
  }
  
  .scrollbar::-webkit-scrollbar {
    width: 12px;
  }
  
  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #b3b3b3;
    border-radius: 10px;
  }
  
/* Add this to your existing CSS or styles.css */
.navigation-buttons {
    display: flex;
    justify-content: center;
    margin-top: 150px;
  }
  
  .navigation-buttons a {
    display: inline-block;
    padding: 8px 16px;
    margin: 0 5px;
    text-decoration: none;
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #a0a0a0;
    border-radius: 3px;
  }
  
  .navigation-buttons a:hover {
    background-color: #e0e0e0;
  }
  

/* Add your CSS styles here */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust this height as needed */
  }
  
  .image-container img {
    max-width: 100%;
    max-height: 100%;
  }

  /* Hide the popup box by default */
.hide {
    display: none;
}

/* Style the clickable word */
.popup-trigger {
    cursor: pointer;
    text-decoration: underline;
}
.gif {
    top: 10%;
    left: 33%;
}
  
